<!DOCTYPE html>
<html>
<head>
	<title>PinCamp</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link href="/stylesheets/css.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		      	</button>
				<a class="navbar-brand" href="/">PinCamp</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/">Home</a></li>
					<li><a href="/mypins">My Pins</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<section class="container">
		<div class="jumbotron">
			<h1>My Pins</h1>
			{{#if message}}
			<p class="alert alert-info">{{message}}</p>
			{{/if}}
			<hr/>
			<form method="POST" action="/newPin">
			    <fieldset>
			        <legend>Add a new pin</legend>
			        <label>Name: <input type="text" name="pinName" class="form-control" /></label>
			        <label>URL: <input type="text" name="pinURL" class="form-control" /></label>
			        <input type="submit" class="btn btn-primary" />
			    </fieldset>
			</form>
			<hr/>
			<div id="items"></div>
		</div>
	</section>

    <script src="https://code.jquery.com/jquery-2.2.3.js"></script>
    <script src="https://npmcdn.com/masonry-layout@4.0.0/dist/masonry.pkgd.min.js"></script>
    <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
	<script src="/javascripts/getPins.js"></script>
</body>
</html>